<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
  data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="text-decoration-none text-muted" href="javascript:;">Pages</a>
        </li>
        <li class="breadcrumb-item text-sm text-muted active" aria-current="page">{{ request.path|slice:"1:"|slice:"0:-1"|capfirst }}</li>
      </ol>
      <h2 class="font-weight-bold mb-4">{{ request.path|slice:"1:"|slice:"0:-1"|capfirst }}</h2>
    </nav>

    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <!-- User Dropdown -->
        <li class="nav-item dropdown position-relative">
          <a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle me-2"></i> Profile</a></li>
            {% if user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'retrieve_main_logs' %}"><i class="fas fa-download me-2"></i> Retrieve Logs</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt me-2"></i> Logout</a></li>
        </ul>
        </li>
        <!-- End of User Dropdown -->
      </ul>
    </div>





  </div>
</nav>
<!-- End Navbar -->